{{#if noProducts}}
    <h1 class="error">{{noProducts}}</h1>
{{else}}

<form
    name="container-form"
    method="POST"
    action="/production/handle-form-actions"
>
    <div class="mt-4 production_Heading">
        <h1>Danh sách sản phẩm</h1>


        <div class="notification">
            <a href="/admin/trash/production" class="trash"><ion-icon
                    class="trashIcon"
                    name="trash-outline"
                ></ion-icon></a>
            <span class="badge">{{deletedCount}}</span>
        </div>


    </div>


    <div class="allCheck">
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="check-box-all"
            />
            <label class="form-check-label" for="check-box-all">
                Chọn tất cả
            </label>
        </div>


        <div class="form-group">


            <select
                class="form-control form-control-stored form-control-sm"
                id=""
                name="action"
                required
            >
                <option value="">---Chọn hành động---</option>
                <option value="delete">Xóa</option>
                {{! <option>3</option>
                <option>4</option>
                <option>5</option> }}
            </select>
        </div>


        <button class="btn btn-primary btn-sm disable">Áp dụng</button>


    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col0">#</th>
                <th scope="col" class="col1">STT</th>
                <th scope="col" class="col2">Tên sản phẩm
                    {{{sortable "name" _sort }}}
                </th>
                <th scope="col" class="col3">Giá tiền
                    {{{sortable "new_prices" _sort }}}
                </th>
                <th scope="col" class="col4">Hình ảnh mô tả</th>
                <th scope="col" class="col5">Số lượng
                    {{{sortable "quantity" _sort  }}}
                </th>

                <th scope="col" class="col6">Tình trạng
                    
                </th>
                <th scope="col" class="col7">Thời gian tạo
                    
                </th>
                <th scope="col" class="col8">Tùy chọn</th>


            </tr>
        </thead>
        <tbody>
            {{#each productions}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value="{{this._id}}"
                                name="productionIds[]"
                            />


                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td class="col-content">{{this.name}}</td>
                    <td class="col-content-5">{{formatCurrency
                            this.new_prices
                        }}</td>
                    {{!-- {{#each this.image}} --}}
                    <td class="col-content-4"><img
                            src="{{this.image.[0]}}"
                            alt="{{this.name}}"
                        /></td>
                    {{!-- {{/each}} --}}
                    <td class="col-content_5"> <span class="content pricesContent" value="{{this.quantity}}">{{this.quantity}}</span></td>
                    


                    <td class="col-content_6">


                        {{#if (eq this.quantity 0)}}
                        <span class="content1">Hết hàng</span>
                           
                        {{else}}
                            <span class="content2">Còn hàng</span>
                            {{#if (eq this.inOrder true)}}
                            <div class="contentTonTai">Đã tồn tại trong đơn hàng</div>
                            {{else}}
                            <div class="contentKTonTai">Không tồn tại trong đơn hàng</div>
                            {{/if}}
                        {{/if}}
                    </td>
                    <td class="col-content_7"> <span class="content">{{formatDate this.createdAt}}</span></td>
                    <td class="col-content-8">
                        <a
                            href="/production/{{this._id}}/edit"
                            class="btn-link"
                        >Sửa</a>
                        <a
                            href="#!"
                            class="btn-link deleteProductionModal"
                            data-id="{{this._id}}"
                            value="{{this.inOrder}}"
                        >Xóa</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="6" class="text-center">
                        Bạn chưa tạo sản phẩm nào cả.
                        <a href="/production/create" style="color: red;">Tạo sản
                            phẩm tại đây!</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</form>


<form name="restore-delete-production" method="POST"></form>


<form method="GET" action="/admin/search" class="searchAdmin" id="searchForm">
    <div class="searchContainer">
        <input type="text" name="name" placeholder="Nhập tên sản phẩm" class="inputSearch" id="nameInput"  />
        <select name="typeProduct" class="selectType" id="typeProductSelect" >
            <option value="">--- Chọn loại sản phẩm ---</option>
            <option value="VGA">VGA</option>
            <option value="RAM">RAM</option>
            <option value="SSD">SSD/HDD</option>
            <option value="CASE">CASE</option>
            <option value="MAIN">MAIN</option>
            <option value="CPU">CPU</option>
            <option value="FAN">FAN</option>
            <option value="PSU">PSU</option>
        </select>
        <button type="submit" value="Search" class="buttonSearch">
            <img class="imgBt" src="/img/search-icon.svg" alt="" />
        </button>
    </div>
</form>

<form method="GET" action="/admin/search/situation/product" class="searchSituation" id="searchFormSituation">
    <div class="searchContainer">
        <select name="situation" class="selectType" id="situationProductSelect" required>
            <option value="">--- Tình trạng ---</option>
            <option value="Stocking">Còn hàng</option>
            <option value="OutofStock">Hết hàng</option>
        </select>
        <button type="submit" value="Search" class="buttonSearch">
            <img class="imgBt" src="/img/search-icon.svg" alt="" />
        </button>
    </div>
</form>

<form method="GET" action="/admin/search/price" class="searchPrice" id="searchFormPrice">
    <div class="searchPricesContainer">
        <input type="number" name="priceMin" placeholder="0.000.000đ" class="inputPriceSearch" id="priceMinInput" min="0" required />
        <span> - </span>
        <input type="number" name="priceMax" placeholder="0.000.000đ" class="inputPriceSearch" id="priceMaxInput" min="0" required  />  
        <button type="submit" value="Search" class="buttonSearch">
            <img class="imgBt" src="/img/search-icon.svg" alt="" />
        </button>
    </div>
</form>

<div class="modal1">


    <div class="confirmDelete">


        <form name="delete-user-form" method="POST">
            <div class="desc">Thông báo</div>
            <div class="close2">
                <span class="icon-close">
                    <ion-icon name="close"></ion-icon>
                </span>
            </div>
            <p>Bạn thật sự muốn xóa sản phẩm này ?</p>
            <div class="action">
                <button type="submit" id="btn-delete-user" class="btn">
                    Đúng
                </button>
                <a class="btn denied"> Hủy </a>
            </div>
        </form>


    </div>




</div>



<script>
    document.getElementById("searchFormPrice").addEventListener("submit", function(event) {
        var priceMinInput = document.getElementById("priceMinInput");
        var priceMaxInput = document.getElementById("priceMaxInput");

        if (parseInt(priceMaxInput.value) <= parseInt(priceMinInput.value)) {
            alert("Khoảng tìm kiếm không hợp lệ.");
            event.preventDefault(); // Ngăn chặn việc gửi form nếu không hợp lệ
        }
    });
</script>

{{/if}}
