
<i class="fa-solid fa-right-from-bracket" onclick="goBack()" style="color: #2c67ce;"></i>

<p class="titleStatistic" ><strong>Tổng tiền nhập hàng theo loại {{type}}</strong> </p>

{{#if production}}
    {{!-- statistic content --}}
  <div class="row3 row2">
    {{!-- statistic content --}}
    <div class="table-container-wrapper-statistic">
    <table class="table-container-statistic" border="1" width="100%">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Loại sản phẩm</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Giá nhập</th>
          <th scope="col">Giá bán</th>
          <th scope="col">Tiền lời trên mỗi sản phẩm</th>
        </tr>
      </thead>
      <tbody>
        {{#each production}}
        <tr>
          <th scope="row" class="stt">{{sum @index 1}}</th>
          <td>{{this.type}}</td>
          <td>{{this.name}}</td>
          <td>{{this.total_quantity}}</td>
          <td>{{formatCurrency this.original_prices}}</td>
          <td>{{formatCurrency this.new_prices}}</td>
          <td>{{ formatCurrency this.profitPerProduct}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
      <p class="totalOfOption">Tổng tiền nhập hàng theo loại {{type}}: {{formatCurrency total}}</p>

</div>
{{else}}
<p class="undefined">Không tìm thấy thông tin phù hợp</p>
{{/if}}


<script>
function goBack() {
    window.location.href = "/admin/statistic";
}
</script>
